meson 
ninja
pandas 
numpy 
matplotlib 
seaborn
wordcloud 
nltk
# torch
# tensorflow
transformers
sentence-transformers
scikit-learn
tqdm
# torchvision
# torchaudio
# tf-keras
optuna
imblearn
hf_xet
textblob